{% extends "compradoresApp/base.html" %}
{% block title %}Catálogo{% endblock %}

{% block content %}

<section class="grid">
    {% for p in products %}
    <article class="card">

        <a class="card-link" href="{% url 'compradores:product_detail' p.pk %}">
            {% if p.imagen %}
                <img class="card-img" src="{{ p.imagen.url }}">
            {% else %}
                <div class="card-img placeholder">Sin imagen</div>
            {% endif %}

            <div class="card-body">
                <h3>{{ p.nombre }}</h3>
                <p class="meta">{{ p.categoria }} • {{ p.tienda.ubicacion }}</p>
                <div class="price-row">
                    <strong>${{ p.precio }}</strong>
                </div>
            </div>
        </a>

        <div class="card-actions">
            <form method="post" action="{% url 'compradores:create_order' p.pk %}">
                {% csrf_token %}
                <button class="tiny btn">Comprar</button>
            </form>

            <form method="post" action="{% url 'compradores:toggle_favorite' p.pk %}">
                {% csrf_token %}
                <button class="btn ghost tiny">
                    {% if p.is_favorite %}♥ Quitar{% else %}♥ Favorito{% endif %}
                </button>
            </form>
        </div>

    </article>
    {% endfor %}
</section>

{% endblock %}
